################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Assembler/.vs/Assembler/v16
/Assembler/Assembler/Debug
/Assembler/Debug
